* {
  font-family: 'Roboto', sans-serif;
}

#root {
  max-width: 1366px;
  margin: 0 auto;
  overflow-x: hidden;
}

#Hero {
  background-image: url('../src/assets/Images/BG.png');
  background-position: center 90%;
  background-repeat: no-repeat;
  background-size: cover;
}

.error{
  margin-top: 0 !important;
}

/* Animations */
.animated-text {
  animation: scaleText .7s ease-in-out 1 alternate; /* Animation properties */
  transition: all smooth;
}

@keyframes scaleText {
  from {
    font-size: 8rem; /* Initial font size */
  }
  to {
    font-size: 4rem; /* Final font size */
  }
}



::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fafafc; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:  #B91C1C !important;
  border-radius: 12px !important;
}

::-webkit-scrollbar-thumb:hover {
  background:  #B91C1C!important;
  border-radius: 12px !important;
}



::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fafafc; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:  #B91C1C !important;
  border-radius: 12px !important;
}

::-webkit-scrollbar-thumb:hover {
  background:  #B91C1C!important;
  border-radius: 12px !important;
}



::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fafafc; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:  #B91C1C !important;
  border-radius: 12px !important;
}

::-webkit-scrollbar-thumb:hover {
  background:  #B91C1C!important;
  border-radius: 12px !important;
}

@media (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar-thumb {
    background: #B91C1C;
  }
}