* {
  font-family: 'Roboto', sans-serif;
}

#root {
  max-width: 1366px;
  margin: 0 auto;
  overflow-x: hidden;
}

#Hero {
  background-image: url('../src/assets/Images/BG.png');
  background-position: center 90%;
  background-repeat: no-repeat;
  background-size: cover;
}

.error{
  margin-top: 0 !important;
}

/* Animations */
.animated-text {
  animation: scaleText .7s ease-in-out 1 alternate; /* Animation properties */
  transition: all smooth;
}

@keyframes scaleText {
  from {
    font-size: 8rem; /* Initial font size */
  }
  to {
    font-size: 4rem; /* Final font size */
  }
}
